.work__title {
  margin: 20px 0;
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.work__subtitle,
.work__subtitles {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.work__phone-link {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration-line: underline;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__items {
  margin-left: 80px;
}

.karta__box {
  margin: 30px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.karta__box-text {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  vertical-align: middle;
}

.karta__box-text::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../../imgs/svg/home.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.karta__box-link {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  vertical-align: middle;
}

.karta__box-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../../imgs/svg/phone.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

@media only screen and (max-width: 649px) {
  .work__items {
    margin: 20px 0;
  }
}