.article {
  margin-bottom: 80px;
}

.article__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__title {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.article__link {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.article__link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../../imgs/svg/right-btn.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 7px 0 0 10px;
}

.article__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article__img {
  width: 100%;
}

.article__content {
  padding: 10px;
  background-color: #fff;
}

.article__date {
  color: var(--grayscale-hard, #8F8F8F);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.article__heading {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.article__description {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}

.article__more {
  color: var(--main-secondary, #70C05B);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 8px 10px;
  border-radius: 4px;
  background: var(--main-secondary-muted, #E5FFDE);
}

.article__more:active {
  color: #fff;
  border-radius: 4px;
  background: var(--main-secondary, #70C05B);
}

@media only screen and (max-width: 1169px) {
  .article__item:nth-child(3) {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 791px) {
  .article__box {
    justify-content: center;
  }

  .article__item:nth-child(2) {
    margin-top: 20px;
  }
}