.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 15px 116px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
}

.header__logo {
  width: 152px;
  height: 32px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__catalog-link {
  width: 100%;
  max-width: 110px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: rgba(112, 192, 91, 1);
  padding: 8px;
  vertical-align: middle;
  border: none;
}

.header__catalog-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../imgs/svg/menu.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

.header__box {
  display: flex;
}

.header__box-input {
  width: 100%;
  max-width: 302px;
  padding: 8px 10px;
  border-radius: 4px 0 0 4px;
  border-right: none !important;
  border: 1px solid var(--main-secondary, #70C05B);
  background: var(--main-surface, #FFF);
  vertical-align: middle;
}

.header__box-btn {
  padding-right: 8px;
  border-left: none !important;
  border-radius: 0 4px 4px 0px;
  border: 1px solid var(--main-secondary, #70C05B);
  background: var(--main-surface, #FFF);
}

.header__favorites-link {
  text-align: center;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-on-surface, #414141);
}

.header__favorites-link:active {
  color: #f63;
}

.header__favorites-link::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-image: url("../../imgs/svg/like.svg");
  background-repeat: no-repeat;
}

.header__product-link {
  font-family: Rubik;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 18px */
  color: var(--main-on-surface, #414141);
}

.header__product-link:active {
  color: #f63;
}

.header__product-link::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-image: url("../../imgs/svg/box.svg");
  background-repeat: no-repeat;
}

.header__cart-link {
  font-family: Rubik;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-on-surface, #414141);
}

.header__cart-link:active {
  color: #f63;

}

.header__cart-link::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-image: url("../../imgs/svg/magazin.svg");
  background-repeat: no-repeat;
}

.header__profile-link {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--on-surface, #232323);
  vertical-align: middle;
}

.header__profile-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 100%;
  background-image: url("../../imgs/png/header-avatar.png");
  background-repeat: no-repeat;
  margin-right: 15px;
  vertical-align: middle;
}

.header__profile-dropdown-btn {
  border: none;
  background-color: transparent;
}

.header__profile-img {
  display: none;
}

.header__catalog-img {
  display: none;
  background: rgba(112, 192, 91, 1);
  padding: 8px;
}

.header__logo-lg {
  display: none;
}


.drobdown {
  display: flex;
  padding: 8px 0 20px;
  top: 76px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #FFF;
  gap: 50px;
  justify-content: space-evenly;
}

.drobdown_none {
  display: none;
}


.drobdown__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 200px;
}

.drobdown__items {
  margin-top: 20px;
}

.drobdown__items-link {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.drobdown__items-link:hover {
  color: #f63;
}




@media only screen and (max-width: 1220px) {
  .header {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 820px) {
  .header__logo {
    display: none;
  }

  .header__logo-lg {
    display: block;
  }

  .header__profile-dropdown-btn {
    display: none;
  }

  .header__profile-link {
    display: none;
  }

  .header__profile-img {
    display: block;
  }

  .header__catalog-link {
    display: none;
  }

  .header__catalog-img {
    display: block;
  }
}

@media only screen and (max-width: 562px) {
  .header__favorites-link {
    display: none;
  }

  .header__product-link {
    display: none;
  }

  .header__cart-link {
    display: none;
  }

  .header__profile-img {
    display: none;
  }

  .header__catalog-img {
    display: none;
  }
}